<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">RESTO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          <a class="nav-link" routerLink="add">Add restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">list Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">login to resto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">register for login</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 

<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <p>copyright @2021</p>
  </footer>
</div>